* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.rbc-btn-group:nth-of-type(3) {
  display: none !important;
}
